
h1, h2, h3 {
    line-height: 1.15em;
}
h1 {
    font-size: 24px;
}
h2.tileHeadline {
    margin: 0.5em 0;
}

body.template-folder_full_view {
    .headline {
        margin: 0.7em 0 0.5em 0;
    }
}

.image-left { float: left; clear: both; margin: 0.5em 1em 0.5em 0px; border: 0.4pt solid Black; }
.image-inline { float: none; margin: 0.5em; }
.image-right { float: right; clear: both; margin: 0.5em; border: 0.4pt solid Black; }
dd.image-caption { text-align: left; padding: 0px; margin: 0px; }
dl.captioned { padding: 0.8em; }

div.headerImages {
    margin-right: -5px;
    margin-bottom: 1em;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img.headerImage {
        padding-right: 5px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    img.headerImage:last-of-type {
        // margin-right: -5px;
    }
    img.headerImage1 {
        width: 100%;
    }
    img.headerImage2 {
        width: 50%;
    }
    img.headerImage3 {
        width: 33.333%;
    }
}
div.overlay-image  {
    width: auto !important;
}

.galleria-info-text {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#portal-globalnav li.selected {
    margin-bottom: 1em;
}
#portal-globalnav > li > .wrapper a {
    font-size: 14px !important;
}

dl.portletRecent {
    margin-bottom: 2em;
    margin-top: 2em;
}
a.state-private {
color: red;
}
li.state-private,
li.state-private a,
li.state-private a:hover,
li.state-private a:visited {
color: red;
}

div.documentDescription {
    margin-bottom: 1em;
}
div.newsImageContainer {
    float: left;
    margin-right: 1em;
}

p.tileBody {
    margin-bottom: 0.3em;
}
body.template-folder_summary_view img.tileImage {
    float: left;
    margin-right: 1em;
}

input[type='text'].datetime-widget {
    width: auto;
}

/* 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
*/

#portal-globalnav ul.flyoutChildren li {
    position: relative;
}
#portal-globalnav li.level1 ul.flyoutChildren {
    margin-left: 10em;
    margin-top: -2em;
    z-index: 1000;
}
#portal-globalnav ul.flyoutChildren li.level1 li.directLink {
    display: none;
}
#portal-globalnav ul.flyoutChildren li.level1 li.directLink + li {
    border: none;
}

body.template-quickedit .field {
   clear: none;
}